<!DOCTYPE html>
<html>
  <head>
    <title>BW-CRM</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/alertify.core.css">
    <link rel="stylesheet" href="/styles/alertify.default.css">
    <link rel="stylesheet" href="/styles/bootstrap-table.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/datepicker.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/print.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/Chart.js"></script>
    <script src="/js/alertify.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-treeview.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <!--SCRIPTS END-->

  </head>

  <body>
    <%- partial('navbar_partial') %>
    <%- body %>

  </body>
</html>
