<legend>&nbsp;&nbsp;Contacts Type Details</legend>
<table id="conttypetable"></table>

<br />

<center>
<button class="btn btn-success" data-toggle="modal" data-target="#AddContTypeModal"><i class="fa fa-plus"></i> &nbsp; Add</button>

<button onclick="doContType(1);"  id="btnEdit" class="btn btn-primary" disabled ><i class="fa fa-edit"></i> &nbsp; Edit</button>

<button onclick="doContType(2);" id="btnDelete" class="btn btn-danger" disabled><i class="fa fa-trash"></i> &nbsp; Delete</button>
</center>

<script>
    <% if( query !== undefined ){
        if( query.localeCompare('added') === 0 ) { %>
            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Contact Type Added');
        <% }
        else if(query.localeCompare('updated') === 0 ) { %>
            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Contact Type Updated');  
        <% }  
        else if(query.localeCompare('alreadythere') === 0 ) { %>
            alertify.error('<i class="fa fa-thumbs-down"></i> &nbsp; contact Type Exists');  
        <% }               
    } %>
</script>

<script>

    $(function () {
       $('#conttypetable').bootstrapTable({
            method: 'get',
            url: '/listconttypes',
            cache: false,            
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
                document.getElementById('btnEdit').disabled = false ;
                document.getElementById('btnDelete').disabled = false ;
            } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false 
            } ,

            {
                field: 'conttypename',
                title: 'Contact Type',
                align: 'left',
                valign: 'middle',
                sortable: true
            }  

            ]

        });

    });

</script>

<script>

    function doContType(a){

        if(a === 1){
            var selectedRows =  $('#conttypetable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var d = document.getElementById('EditContTypeModalForm');

            $("#cid").val(selectedRow.id);
            $("#cconttypename").val(selectedRow.conttypename);
            $('#EditContTypeModal').modal('show');
        }

        else if(a === 2){

            alertify.confirm("Delete Contact Type ?", function (e) {
                if (e) {
                    var selectedRows =  $('#conttypetable').bootstrapTable('getSelections');
                    var selectedRow = selectedRows[0];     
                    $.get('/deleteconttype' , { id : selectedRow.id }).done(function(data){
                        console.log(data);
                        if(data.status !== undefined ){
                            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Contact Type Deleted');
                            $('#conttypetable').bootstrapTable('refresh' , { url : '/listconttypes'} );
                        }
                    });
                } else {

                }
            }); 

        }    
    	
    }

</script>

<div class="modal fade" id="AddContTypeModal" tabindex="-1" role="dialog" aria-labelledby="Add Contact Type" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Contact Type</h4>
            </div>

            <div class="modal-body">
                <form id="AddContTypeModalForm" method="post" class="form-horizontal" action="\conttypeadd">
                    <div class="form-group">
                        <label class="col-xs-4">Contact Type Name</label>
                        <div class="col-xs-5">
                            <input type="text"  name="conttypename" required size="30"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditContTypeModal" tabindex="-1" role="dialog" aria-labelledby="Edit Contact Type" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Contact Type</h4>
            </div>

            <div class="modal-body">
                <form id="EditContTypeModalForm" method="post" class="form-horizontal" action="\conttypeupdate">
                    <div class="form-group">
                        <input type="hidden" name="cid" id="cid"/>
                        <label class="col-xs-3">Contact Type Name</label>
                        <div class="col-xs-5">
                            <input type="text"  name="cconttypename"  id="cconttypename"  size="30"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button onclick="submitFunc()" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitFunc()
    {
        document.getElementById('EditContTypeModalForm').submit();
    }
</script>