<center><h3><b style="color:red">USERS</b></h3></center>
<table id="usertable"></table>

<br />

<center>
<button onclick="doUser(1);" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add</button>
<button onclick="doUser(2);" id="btnEdit" class="btn btn-primary" disabled><i class="fa fa-edit"></i> &nbsp; Edit</button>
<button onclick="doUser(3);" id="btnDelete" class="btn btn-danger" disabled><i class="fa fa-trash"></i> &nbsp; Delete</button>
<button onclick="doUser(4);" id="btnChgPwd" class="btn btn-info" disabled><i class="fa fa-key"></i> &nbsp; Change Password</button>
</center>

<script>
    <% if( query !== undefined ){
        if( query.localeCompare('added') === 0 ) { %>
            alertify.success('<i class="fa fa-plus"></i> &nbsp; User Added');
        <% }
        else if(query.localeCompare('updated') === 0 ) { %>
            alertify.success('<i class="fa fa-pencil"></i> &nbsp; User Updated');  
        <% }
        else if(query.localeCompare('passsucc') === 0 ) { %>
            alertify.success('<i class="fa fa-key"></i> &nbsp; Password changed successfully');  
        <% }
    } %>
</script>

<script>

    function doUser(a){
    	if( a === 1 ){
    		window.location = '/signup';
    	}
    	else if ( a === 2){
            var selectedRows =  $('#usertable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/useredit?id=" + selectedRow.id);
            window.location = uri ;
    	}
        else if(a === 3){

            alertify.confirm("Delete User ?", function (e) {
                if (e) {
                    var selectedRows =  $('#usertable').bootstrapTable('getSelections');
                    var selectedRow = selectedRows[0];     
                    $.get('/deleteuser' , { id : selectedRow.id }).done(function(data){
                        console.log(data);
                        if(data.status !== undefined ){
                            alertify.success('<i class="fa fa-trash"></i> &nbsp; User Deleted');
                            $('#usertable').bootstrapTable('refresh' , { url : '/listusers'} );
                        }
                    });
                } else {

                }
            }); 
    	}
        else
        {
            var selectedRows =  $('#usertable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/userchgpass?id=" + selectedRow.id);
            window.location = uri ;        
        }
    }

    $(function () {
        $('#usertable').bootstrapTable({
            method: 'get',
            url: '/listusers',
            cache: false,
            height: 500,
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
            	document.getElementById('btnEdit').disabled = false ;
                document.getElementById('btnDelete').disabled = false ;
                document.getElementById('btnChgPwd').disabled = false ;
            } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false 
            } ,

            {
                field: 'username',
                title: 'Username',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 

            {
                field: 'ecode',
                title: 'Code',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 

            {
                field: 'ename',
                title: 'Name',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'dept',
                title: 'Dept',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'desg',
                title: 'Desg',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,                

            {
                field: 'doj',
                title: 'DOJ',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'phnum',
                title: 'Phone No',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'email',
                title: 'E-Mail ID',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,                

            {
                field: 'ctc',
                title: 'CTC',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'status',
                title: 'Status',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,            

            {
                field: 'role',
                title: 'Role',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

            {
                field: 'dor',
                title: 'DOR',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } 

            ]

        });

    });
    
</script>