<legend>&nbsp;&nbsp;Status Details</legend>
<table id="statustypetable"></table>

<br />

<center>
<button class="btn btn-success" data-toggle="modal" data-target="#AddStatusTypeModal"><i class="fa fa-plus"></i> &nbsp; Add</button>

<button onclick="doStatusType(1);"  id="btnEdit" class="btn btn-primary" disabled ><i class="fa fa-edit"></i> &nbsp; Edit</button>

<button onclick="doStatusType(2);" id="btnDelete" class="btn btn-danger" disabled><i class="fa fa-trash"></i> &nbsp; Delete</button>
</center>

<script>
    <% if( query !== undefined ){
        if( query.localeCompare('added') === 0 ) { %>
            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Status Type Added');
        <% }
        else if(query.localeCompare('updated') === 0 ) { %>
            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Status Type Updated');  
        <% }  
        else if(query.localeCompare('alreadythere') === 0 ) { %>
            alertify.error('<i class="fa fa-thumbs-down"></i> &nbsp; Status Type Exists');  
        <% }               
    } %>
</script>

<script>

    $(function () {
       $('#statustypetable').bootstrapTable({
            method: 'get',
            url: '/liststatustypes',
            cache: false,
            height: 450,
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
                document.getElementById('btnEdit').disabled = false ;
                document.getElementById('btnDelete').disabled = false ;
            } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false 
            } ,

            {
                field: 'statustype',
                title: 'status Type',
                align: 'left',
                valign: 'middle',
                sortable: true
            }  

            ]

        });

    });

</script>

<script>

    function doStatusType(a){

        if(a === 1){
            var selectedRows =  $('#statustypetable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var d = document.getElementById('EditStatusTypeModalForm');

            $("#sid").val(selectedRow.id);
            $("#pstatustype").val(selectedRow.statustype);
            $('#EditStatusTypeModal').modal('show');
        }

        else if(a === 2){

            alertify.confirm("Delete Status Type ?", function (e) {
                if (e) {
                    var selectedRows =  $('#statustypetable').bootstrapTable('getSelections');
                    var selectedRow = selectedRows[0];     
                    $.get('/deletestatustype' , { id : selectedRow.id }).done(function(data){
                        console.log(data);
                        if(data.status !== undefined ){
                            alertify.success('<i class="fa fa-thumbs-up"></i> &nbsp; Status Type Deleted');
                            $('#statustypetable').bootstrapTable('refresh' , { url : '/liststatustypes'} );
                        }
                    });
                } else {

                }
            }); 

        }    
    	
    }

</script>

<div class="modal fade" id="AddStatusTypeModal" tabindex="-1" role="dialog" aria-labelledby="Add Status Type" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Status Type</h4>
            </div>

            <div class="modal-body">
                <form id="AddStatusTypeModalForm" method="post" class="form-horizontal" action="/statustypeadd">
                    <div class="form-group">
                        <label class="col-xs-4">Status Type Name</label>
                        <div class="col-xs-5">
                            <input type="text"  name="statustype" required size="30"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditStatusTypeModal" tabindex="-1" role="dialog" aria-labelledby="Edit Project Type" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Status Type</h4>
            </div>

            <div class="modal-body">
                <form id="EditStatusTypeModalForm" method="post" class="form-horizontal" action="/statustypeupdate">
                    <div class="form-group">
                        <input type="hidden" name="sid" id="sid"/>
                        <label class="col-xs-3">Status Type Name</label>
                        <div class="col-xs-5">
                            <input type="text"  name="pstatustype"  id="pstatustype"  size="30"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button onclick="submitFunc()" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitFunc()
    {
        document.getElementById('EditStatusTypeModalForm').submit();
    }
</script>