<center><h3><b style="color:red">VISITS</b></h3></center>
<table id="vtable"></table>
<br />
<center>

<button onclick="doreq(2);" id="btnEdit" class="btn btn-primary" disabled><i class="fa fa-edit"></i> &nbsp; Edit</button>
<button onclick="doreq(3);" id="btnDelete" class="btn btn-danger" disabled><i class="fa fa-trash"></i> &nbsp; Delete</button>
</center>
<script>
    <% if( query !== undefined ){
        if( query.localeCompare('added') === 0 ) { %>
            alertify.success('<i class="fa fa-plus"></i> &nbsp; Visit Added');
        <% }
        else if(query.localeCompare('updated') === 0 ) { %>
            alertify.success('<i class="fa fa-pencil"></i> &nbsp; visit Updated');  
        <% }
    } %>
</script>
<script>
    function doreq(a){
    	if ( a === 2){
            var selectedRows =  $('#vtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/visitedit?id=" + selectedRow.id);
            window.location = uri ;
    	}
        else if (a == 3){
            alertify.confirm("Delete Visit ?", function (e) {
                if (e) {
                    var selectedRows =  $('#vtable').bootstrapTable('getSelections');
                    var selectedRow = selectedRows[0];     
                    $.get('/deletevisit' , { id : selectedRow.id }).done(function(data){
                        console.log(data);
                        if(data.status !== undefined ){
                            alertify.success('<i class="fa fa-trash"></i> &nbsp; Visit Deleted');
                            $('#vtable').bootstrapTable('refresh' , { url : '/listvisit'} );
                        }
                    });
                }


            }); 
    	} 
        
       
    }
    $(function () {
        $('#vtable').bootstrapTable({
            method: 'get',
            url: '/listvisit',
            cache: false,
            height: 500,
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
            	document.getElementById('btnEdit').disabled = false ;
                document.getElementById('btnDelete').disabled = false ; 
                } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false                 
            } ,

           {
                field: 'projname',
                title: 'Project Name',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

            {
                field: 'custname',
                title: 'Customer Name',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

            {
                field: 'loc',
                title: 'Location',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

             {
                field: 'contnum',
                title: 'Contact number',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

             
             {
                field: 'st',
                title: 'Status',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,
             {
                field: 'nfudate',
                title: 'Next follow-up date',
                align: 'left',
                valign: 'middle',
                sortable: true 
            }, 
            
            {
                field: 'sexec',
                title: 'Sales Executive',
                align: 'left',
                valign: 'middle',
                sortable: false                
            } ,

            {
                field: 'mexec',
                title: 'Marketing Executive',
                align: 'left',
                valign: 'middle',
                sortable: false 
                
            }                   
            ]
        });
    });
</script>