<table id="projtable"></table>
<br />
<center>
<button onclick="doUser(2);" id="btnEdit" class="btn btn-primary" disabled><i class="fa fa-edit"></i> &nbsp; Edit project</button>
<button onclick="doUser(3);" id="btnDelete" class="btn btn-danger" disabled><i class="fa fa-trash"></i> &nbsp; Delete</button>
<button onclick="doUser(4);" id="btnReq" class="btn btn-warning" disabled><i class="fa fa-list"></i> &nbsp; Add Requirements</button>
<button onclick="doUser(5);" id="btnContact" class="btn btn-info" disabled><i class="fa fa-user"></i> &nbsp;Add Contacts</button>
<button onclick="doUser(6);" id="btnvisit" class="btn btn-info" disabled><i class="fa fa-user"></i> &nbsp;Add Visit</button>
<button onclick="doUser(7);" id="btnfu" class="btn btn-info" disabled><i class="fa fa-user"></i> &nbsp;Add Followup</button>


</center>
<script>
    <% if( query !== undefined ){
        if( query.localeCompare('added') === 0 ) { %>
            alertify.success('<i class="fa fa-plus"></i> &nbsp; Project Added');
        <% }
        else if(query.localeCompare('updated') === 0 ) { %>
            alertify.success('<i class="fa fa-pencil"></i> &nbsp; Project Updated');  
        <% }
    } %>
</script>
<script>
    function doUser(a){
    	/*if( a === 1 ){
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/projadd?id=" + selectedRow.id);
            window.location = uri ;
    	}
    	else */ if ( a === 2){
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/projedit?id=" + selectedRow.id);
            window.location = uri ;
    	}
        else if(a === 3) {
            alertify.confirm("Delete Project ?", function (e) {
                if (e) {
                    var selectedRows =  $('#projtable').bootstrapTable('getSelections');
                    var selectedRow = selectedRows[0];     
                    $.get('/deleteproj' , { id : selectedRow.id }).done(function(data){
                        console.log(data);
                        if(data.status !== undefined ){
                            alertify.success('<i class="fa fa-trash"></i> &nbsp; Project Deleted');
                            $('#projtable').bootstrapTable('refresh' , { url : '/listproj'} );
                        }
                    });
                } else {

                }
            }); 
    	}
        else if(a === 4)
        {
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/reqadd?id=" + selectedRow.id);
            window.location = uri ;
        }
        else if(a === 5)
        {
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/contadd?id=" + selectedRow.id);
            window.location = uri ;
        }
         else if(a === 6)
        {
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/visitadd?id=" + selectedRow.id);
            window.location = uri ;
        }
        else
        {
            var selectedRows =  $('#projtable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            var uri = encodeURI("/fuadd?id=" + selectedRow.id);
            window.location = uri ;
        }
    }
    $(function () {
        $('#projtable').bootstrapTable({
            method: 'get',
            url: encodeURI('/listCustProj?id=' + '<%= cust.id.toString() %>'),
            cache: false,            
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
            	document.getElementById('btnEdit').disabled = false ;
                document.getElementById('btnDelete').disabled = false ;
                document.getElementById('btnReq').disabled = false ;
                document.getElementById('btnContact').disabled = false ;
                document.getElementById('btnvisit').disabled = false ;
                document.getElementById('btnfu').disabled = false ;
            } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false 
            } ,

            {
                field: 'custname',
                title: 'Customer Name',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

            {
                field: 'projname',
                title: 'Project Name',
                align: 'left',
                valign: 'middle',
                sortable: true 
            } ,

            {
                field: 'projtype',
                title: 'Project Type',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 
             {
                field: 'calltype',
                title: 'Call Type',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 

            {
                field: 'description',
                title: 'Description',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'startdate',
                title: 'Start Date',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'enddate',
                title: 'End Date',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,                

            {
                field: 'addr',
                title: 'Address',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'buildstage',
                title: 'Building Stage',
                align: 'left',
                valign: 'middle',
                sortable: true
            } 

            ]
        });
    });
</script>