<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>Contacts</strong>
        </a>
    </h4>
  </div>

  <div id="collapseSix" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="contact" value="cont" /> Contact <br />
    </div>
  </div>
  
</div>

