<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>Customer</strong>
        </a>
    </h4>
  </div>

  <div id="collapseThree" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="customer" value="cust" /> Customer <br />
      <input type="checkbox" name="customer" value="searchcust" /> Search Customer <br />              
    </div>
  </div>
  
</div>