<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>Master</strong>
        </a>
    </h4>
  </div>

  <div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="master" value="conttype" /> Contact Type <br />
      <input type="checkbox" name="master" value="pdttype" /> Product Type <br />        
      <input type="checkbox" name="master" value="projtype" /> Project Type <br />
      <input type="checkbox" name="master" value="stattype" /> Status Type <br />
    </div>
  </div>
  
</div>