        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapsed">
                    <i class="fa fa-question"></i> &nbsp; <strong>Others</strong> 
                  </a>
              </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                <input type="checkbox" name="help" value="help" /> Help <br />
              </div>
          </div>
      </div>
