<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>Project</strong>
        </a>
    </h4>
  </div>

  <div id="collapseFour" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="project" value="proj" /> Projects <br />
      <input type="checkbox" name="project" value="req" /> Requirements <br />        
      <input type="checkbox" name="project" value="visit" /> Visits <br />
      <input type="checkbox" name="project" value="followup" /> Follow-ups <br />
      <input type="checkbox" name="project" value="fpactionlog" /> Follow-up Action Logs <br />
    </div>
  </div>
  
</div>