<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>Report</strong>
        </a>
    </h4>
  </div>

  <div id="collapseFive" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="report" value="req" /> Requirement <br />
      <input type="checkbox" name="report" value="reqdate" /> Requirement by Date <br />        
    </div>
  </div>
  
</div>