        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                    <i class="fa fa-lock"></i> &nbsp; <strong>Security </strong> 
                  </a>
              </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <input type="checkbox" name="security" value="rolespage" /> Roles <br />
                <input type="checkbox" name="security" value="userspage" /> Users  <br />
                <input type="checkbox" name="security" value="audittrailspage" /> Audit trail  <br />
                <input type="checkbox" name="security" value="changepassword" /> Change Password <br />
              </div>
          </div>
      </div>
