        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                    <i class="fa fa-cog"></i> &nbsp; <strong>Settings</strong>
                  </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
              <div class="panel-body">
                <input type="checkbox" name="settings" value="generalsettings" /> General Settings <br />
                <input type="checkbox" name="settings" value="databasecontrolpanel" /> Database Control Panel              
              </div>
          </div>
      </div>
