<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
          <i class="fa fa-cog"></i> &nbsp; <strong>User Management</strong>
        </a>
    </h4>
  </div>

  <div id="collapseTwo" class="panel-collapse collapse" style="height: auto;">
    <div class="panel-body">
      <input type="checkbox" name="usermanagement" value="roles" /> Roles <br />
      <input type="checkbox" name="usermanagement" value="users" /> Users             
    </div>
  </div>
  
</div>