/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}*/

/*table tr:nth-child(odd) td{
	background-color: #DBDBDB;
}
table tr:nth-child(even) td{
	background-color: #FFFFFF;
}*/